<ng-container *ngIf='(task$ | async) as task'>
  <div class='card'>
    <div class='card-header'>
      Task details
    </div>
    <div class='card-body'>
      <h5 class='card-title'>Special title treatment</h5>
      <p class='card-text'>Task info: {{task.info}}. Task assignee id: {{task.assigneeId}}. Status: <input
        type='checkbox' [checked]='task.done' disabled></p>
      <a (click)='changeStatus(task.done)' class='btn btn-primary'>Mark as done/undone</a>
    </div>
  </div>
</ng-container>
