<ng-container *ngIf='(users$ | async) as users '>
  <div class='card'>
    <div class='card-header'>
      Add new task
    </div>
    <div class='card-body'>
      <form [formGroup]='form'>
        <div>
          <input type='text' formControlName='info' class='form-control' placeholder='Task info'>
        </div>
        <div>
          <label>assigneeId</label>
          <select formControlName='assigneeId' class='custom-select' id='inputGroupSelect01'>
            <option selected>Open this select menu</option>
            <option *ngFor='let user of users' value='{{user.id}}'>{{user.id}}</option>
          </select>
        </div>
        <div>
          <label>Status</label>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <div class='input-group-text'>
                <input type='checkbox' aria-label='Checkbox for following text input' formControlName='done'>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type='button' class='btn btn-primary' (click)='saveTask()' [disabled]='!form.valid'>
            save
          </button>
        </div>
      </form>
    </div>

  </div>

</ng-container>
